.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.left-container {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mini-container {
  width: 428px;
  height: 444px;
  position: relative;
}
.heading-container {
  width: 428px;
  height: 42px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font: Rubik;
  font-weight: 700;
  font-size: 34px;
  color: #093a5e;
  line-height: 42;
}

.button-div {
  width: 434px;
  height: 44px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  background: #004679;
  color: white;
  width: 434px;
  height: 44px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.last {
  position: absolute;
  width: 428px;
  height: 70px;
  bottom: 0px;
  left: 50%;
  top: 70%;
  transform: translateX(-50%);
}
.last-1 {
  width: 428px;
  height: 35px;
  text-align: center;
  color: grey/500;
  font-size: 14px;
  font: Roboto;
  font-weight: 500;
}
.last-2 {
  text-decoration: underline;
  cursor: pointer;
  width: 428px;
  height: 35px;
  margin-left: 180px;
  text-align: center;
  color: #09548c;
  font: roboto;
  font-size: 16px;
  font-weight: 500;
}

.right-div {
  flex: 0.5;
  display: flex;
}
.login-page-container {
  position: relative;
  width: 508px;
  height: 680px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page-mini {
  width: 428px;
  height: 600px;
  position: relative;
}
.heading-login-page {
  margin-top: 0px;
  font: Rubik;
  font-weight: 700;
  font-size: 24px;
  color: #093a5e;
  width: 428px;
  height: 30px;
  text-align: center;
}
.sub-heading-login-page {
  width: 428px;
  height: 30px;
  text-align: center;
  color: #9e9e9e;
  font-size: 16px;
  font-weight: 400;
}
.input-field-login {
  width: 432px;
  height: 290px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.email-login {
  width: 400px;
  height: 30px;
  padding: 16px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 12px;
  border: 0.5px solid #ccc;
  background: rgba(250, 250, 250, 255);
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 10px;
  flex-direction: column;
}
.password-login {
  width: 400px;
  height: 30px;
  padding: 16px;
  margin-bottom: 3px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 12px;
  border: 1px solid #ccc;
  background: rgba(250, 250, 250, 255);
}
.security {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.checkbox {
  display: flex;
  align-items: center;
  color: #212121;
  font: roboto;
  font-size: 14px;
  font-weight: 500;
}
.forgot-password {
  color: #2e1760;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
.main-last-login {
  position: absolute;
  width: 428px;
  height: 52px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.last-1-login {
  width: 428px;
  height: 20px;
  text-align: center;
  color: Grey/500;
  font-size: 14px;
  font-weight: 500;
}
.last-2-login {
  cursor: pointer;
  width: 428px;
  height: 20px;
  margin-left: 185px;
  text-align: center;
  color: #09548c;
  font-size: 16px;
  font-weight: 500;
}
.signup-page {
  position: relative;
  width: 508px;
  height: 661px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-page-mini {
  width: 428px;
  height: 601px;
  margin-top: 60px;
  position: relative;
}
.heading-signup-page {
  margin-top: 0px;
  font: Rubik;
  font-weight: 700;
  font-size: 24px;
  color: #093a5e;
  width: 428px;
  height: 32px;
  text-align: center;
}
.sub-heading-signup-page {
  width: 428px;
  height: 24px;
  text-align: center;
  color: Grey/500;
  font-weight: 400;
  font-size: 16px;
}
.inputfield-signup {
  width: 428px;
  height: 400px;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.firstname-signup {
  width: 160px;
  height: 44px;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 70px;
  font: roboto;
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: rgba(250, 250, 250, 255);
  color: Grey/500;
}

.lastname-signup {
  width: 160px;
  height: 44px;
  padding: 5px;
  margin-bottom: 0px;
  font-size: 16px;
  font: roboto;
  border-radius: 10px;
  border: 1px solid #ccc;
  color: Grey/500;
  background: rgba(250, 250, 250, 255);
}

.email-signup {
  width: 412px;
  height: 45px;
  padding: 5px;
  margin-bottom: 0px;
  font-size: 16px;
  font: roboto;
  border-radius: 10px;
  border: 1px solid #ccc;
  color: Grey/500;
  background: rgba(250, 250, 250, 255);
}
.password-signup {
  width: 412px;
  height: 45px;
  padding: 5px;
  margin-bottom: 0px;
  font: roboto;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  color: Grey/500;
  background: rgba(250, 250, 250, 255);
}
.last-signup {
  position: absolute;
  width: 428px;
  height: 52px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.last-1-signup {
  width: 428px;
  height: 20px;
  text-align: center;
  color: Grey/500;
  font-size: 14px;
  font-weight: 500;
  font: roboto;
}
.last-2-signup {
  font-size: 16px;
  font-weight: 500;
  font: roboto;
  cursor: pointer;
  margin-left: 190px;
  width: 428px;
  height: 20px;
  text-align: center;
  color: #09548c;
}
.forgot-password-page {
  width: 428px;
  height: 466px;
  position: relative;
  margin-top: 80px;
}
.heading-forgot-page {
  margin-top: 0px;
  font: Rubik;
  font-weight: 700;
  font-size: 24px;
  color: #093a5e;
  width: 428px;
  height: 32px;
  text-align: center;
}
.sub-heading-forgot-page {
  width: 400px;
  height: 48px;
  text-align: center;
  color: Grey/500;
  font-weight: 400;
  font-size: 16px;
  font: Roboto;
  margin-left: 13px;
}
.inputfield-forgot-page {
  width: 428px;
  height: 158px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.email-forgot-page {
  width: 418px;
  height: 58px;
  padding: 5px;
  margin-bottom: 10px;
  font: roboto;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: rgba(250, 250, 250, 255);
}
.send-button {
  background: #004679;
  color: white;
  width: 428px;
  height: 50px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  font: roboto;
  font-weight: 500;
  margin-top: 20px;
}
.last-div-forgot {
  position: absolute;
  width: 428px;
  height: 52px;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.last-1-forgot {
  width: 428px;
  height: 20px;
  text-align: center;
  color: Grey/500;
  font-size: 14px;
  font: roboto;
  font-weight: 500;
}
.last-2-forgot {
  text-decoration: underline;
  cursor: pointer;
  width: 428px;
  height: 20px;
  margin-left: 190px;
  text-align: center;
  color: #09548c;
  font-size: 16px;
  font: roboto;
  font-weight: 500;
}
.mailsent {
  width: 381px;
  height: 255px;
  position: relative;
  margin-top: 50px;
}
.heading-mailsent {
  margin-top: 0px;
  font: Rubik;
  font-weight: 700;
  font-size: 24px;
  color: #093a5e;
  width: 381px;
  height: 39px;
  text-align: center;
}
.sub-heading-mailsent {
  width: 385px;
  height: 48px;
  text-align: center;
  color: Grey/500;
  font: Roboto;
  font-weight: 400;
  font-size: 16px;
}
.button-div-mailsent {
  width: 381px;
  height: 74px;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.button-mailsent {
  background: #004679;
  color: #ffffff;
  width: 381px;
  height: 50px;
  border: none;
  cursor: pointer;
  font: roboto;
  font-weight: 500;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 20px;
}
.reset-page {
  position: relative;
  width: 461px;
  height: 464px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset-mini-div {
  width: 381px;
  height: 374px;
  position: relative;
}
.heading-reset-page {
  margin-top: 0px;
  font: Rubik;
  font-weight: 700;
  font-size: 24px;
  color: #093a5e;
  width: 380px;
  height: 32px;
  text-align: center;
}
.sub-heading-reset-page {
  width: 380px;
  height: 24px;
  text-align: center;
  color: Grey/500;
  font-size: 16px;
  font-weight: 400;
  font: Roboto;
}
.inputfield-reset-page {
  width: 381px;
  height: 210px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: space-between;
}
.new-password-input {
  width: 370px;
  height: 48px;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: rgba(250, 250, 250, 255);
  color: Grey/500;
  font-weight: 500;
  font: Roboto;
}
.confirm-password {
  width: 370px;
  height: 48px;
  padding: 5px;
  margin-bottom: 6px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: rgba(250, 250, 250, 255);
  margin-top: 8px;
  color: Grey/500;
  font-weight: 500;
  font: Roboto;
}
.reset-button {
  background: #004679;
  color: white;
  width: 100%;
  height: 44px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
  margin-top: 30px;
  font: roboto;
  font-size: 14px;
  font-weight: 500;
}
.verification-page {
  width: 381px;
  height: 448px;
  position: relative;
  margin-top: 20px;
}
.heading-verification {
  margin-top: 0px;
  font: Rubik;
  font-weight: 700;
  font-size: 24px;
  color: #093a5e;
  width: 381px;
  height: 30px;
  text-align: center;
}

.sub-heading-verification {
  width: 381px;
  height: 24px;
  text-align: center;
  color: Grey/500;
  font: Roboto;
  font-weight: 400;
  font-size: 16px;
}
.code-container {
  width: 381px;
  height: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input-boxes {
  width: 381px;
  height: 60px;
  position: absolute;
  top: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input-box1 {
  width: 75px;
  height: 48px;
  padding: 2px, 16px, 2px, 16px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  border: none;
  background: rgba(250, 250, 250, 255);
}
.input-box2 {
  width: 75px;
  height: 48px;
  padding: 2px, 16px, 2px, 16px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  border: none;
  background: rgba(250, 250, 250, 255);
}
.input-box3 {
  width: 75px;
  height: 48px;
  padding: 2px, 16px, 2px, 16px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  border: none;
  background: rgba(250, 250, 250, 255);
}
.input-box4 {
  width: 75px;
  height: 48px;
  padding: 2px, 16px, 2px, 16px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  border: none;
  background: rgba(250, 250, 250, 255);
}
.continue-button-container {
  margin-top: 100px;
}
.continue-button {
  background: #004679;
  color: #ffffff;
  width: 383px;
  height: 44px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font: roboto;
  font-weight: 500;
  border-radius: 4px;
  margin-top: 20px;
}
.last-div-verification {
  position: relative;
  width: 381px;
  height: 80px;
  bottom: 40px;
  top: 270px;
  left: 50%;
  transform: translateX(-50%);
}
.last-1-verif {
  width: 381px;
  height: 20px;
  text-align: center;
  color: Grey/600;
  font-weight: 500;
  font: roboto;
  font-size: 14px;
}
.resend-button {
  background: white;
  color: #1d709f;
  width: 381px;
  height: 48px;
  border: 3px solid #1d709f;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 16px;
}

.default-page-img {
  width: 428px;
  height: 40px;
}
.right-div img {
  width: 832px;
}

.signin-page-img {
  width: 350px;
  height: 40px;
  background: white;
  margin-top: -10px;
  margin-right: 90px;
}
.signup-page-img {
  width: 350px;
  height: 40px;
  background: white;
  margin-top: -10px;
  margin-right: 90px;
}

.forgot-page-img {
  width: 350px;
  height: 45px;
  background: white;
  margin-top: 10px;
  margin-right: 90px;
}

.App-header {
  display: flex;
  list-style: none;
  padding: 0;
}

.App-header li {
  margin-right: 20px;
}

.App-header li:last-child {
  margin-right: 0;
}

.home-page {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
}

.home-page-header {
  margin-top: 24px;
  border-radius: 24px;
  height: 78px;
  margin-left: 24px;
  margin-right: 24px;

  box-shadow: 0px 0px 16px 0px #ddbee0;
}


.header-img img {
  margin-right: 100%;
  margin-left: -100px;
  width: 400px;
  height: 50px;
  margin-top: 12px;
}
.header-identity {
  width: 184px;
  height: 59px;
  margin-top: -55px;
  margin-left: 1400px;
}
.identity-image {
  width: 62px;
  height: 59px;
  background-color: white;
}
.identity-image img {
  width: 62px;
  height: 59px;
  background-color: lightblue;
  border-radius: 30px;
}

.identity-div {
  width: 111px;
  height: 54px;
  margin-top: -52px;
  margin-left: 70px;
}
.identity-name {
  width: 110px;
  height: 26px;
  font-weight: 600;
  font-size: 18px;
  color: #212121;
}
.identity-post {
  width: 110px;
  height: 26px;
  color: #9e9c9c;
  font-size: 14px;
  font-weight: 500;
  font: Roboto;
}
.home-page-container1 {
  width: 236px;
  height: 380px;
  margin-top: 40px;
  margin-left: 24px;
}
.navigations-div {
  background-color: white;
  width: 220px;
  height: 360px;
  margin-top: 14px;
  
}
.home-page-container2 {
  width: 1385px;
  height: 627px;
  margin-top: -380px;
  margin-left: 260.51px;
  border-radius: 24px;
  background: linear-gradient(
    309.09deg,
    rgba(193, 197, 253, 0.7) 0.94%,
    rgba(255, 225, 248, 0.7) 93.82%
  );
}
.sub-container2 {
  width: 1340px;
  height: 590px;
  margin-left: 20px;
  margin-top: 17px;
}

.mini-sub-container2 {
  width: 1340px;
  height: 130px;
}
.mini-1 {
  width: 819.38px;
  height: 32px;
  font-size: 24px;
  font-weight: 500;
  font: Poppins;
  color: #4f4f4f;
  
}

.mini-2 {
  width: 894px;
  height: 42px;
}
.school-name {
  width: 603px;
  height: 42px;
  font: Poppins;
  font-weight: 600;
  font-size: 36px;
  color: #000000;
}
.school-id {
  width: 179px;
  height: 39px;
  font: Roboto;
  font-size: 16px;
  font-weight: 500;
  background-color: #8d6ffc;
  padding: 10px, 24px, 10px, 24px;
  border-radius: 100px;
  color: #ffffff;
  margin-top: -40px;
  margin-left: 600px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}
.mini-3 {
  width: 681.5px;
  height: 47px;
  margin-top: 10px;
}
.school-address {
  width: 430.5px;
  height: 47px;
  background-color: #1d709f;
  color: #333333;
  font-size: 20px;
  font-weight: 500;
  font: Roboto Flex;
  display: flex;
  margin-left: 0px;
  justify-content: left;
  align-items: center;
  background-color: #ffffff80;
  border-radius: 12px;
  
}
.school-phone {
  width: 228px;
  height: 47px;
  border-radius: 12px;
  padding: 12px, 16px, 12px, 16px;
  background-color: #ffffff80;
  margin-top: -47px;
  margin-left: 450px;
  justify-content: left;
  align-items: center;
  display: flex;
  color: #333333;
  font-weight: 500;
  font-size: 20px;
}
.About-school {
  width: 1340px;
  height: 434px;
  margin-top: 25px;
}
.About-school-div-1 {
  width: 1340px;
  height: 210px;

 }
.about-school-div-2 {
  width: 1340px;
  height: 210px;
  margin-top: 20px;
 
}

.test-center {
  width: 400px;
  height: 210px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.student-portal {
  width: 400px;
  height: 210px;
  background: #ffffff;
   margin-top: -210px;
  margin-left: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.teachers {
  width: 400px;
  height: 210px;
  background: #ffffff;
  margin-top: -210px;
  margin-left: 940px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.analysis {
  width: 400px;
  height: 210px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.admission {
  width: 400px;
  height: 210px;
  background: #ffffff;
  margin-top: -210px;
  margin-left: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.quick-link {
  width: 400px;
  height: 210px;
  background: rgba(233, 233, 254, 255);
  margin-top: -210px;
  margin-left: 940px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.mini-div-test {
  width: 350px;
  height: 150px;
}
.mini-div-portal {
  width: 350px;
  height: 150px;
}

.mini-div-teachers {
  width: 350px;
  height: 150px;
}
.mini-div-analysis {
  width: 350px;
  height: 150px;
}

.mini-div-admission {
  width: 350px;
  height: 150px;
}

.mini-div-quick-link {
  width: 350px;
  height: 150px;
  background: rgba(233, 233, 254, 255);
}

.About-school img {
  width: 130px;
  height: 130px;
  margin-top: 10px;
}

.about-font {
  width: 160px;
  height: 32px;
  font: Poppins;
  font-weight: 400;
  font-size: 28px;
  color: #212121;
  margin-top: -100px;
  margin-left: 180px;
}
.quick-link-heading {
  font: Poppins;
  font-size: 24px;
  font-weight: 100;
  color: #212121;
  margin-left: 115px;
}

.create-test-div {
  width: 153px;
  height: 32px;
  margin-top: 10px;
  margin-left: 80px;
}
.add-students-div {
  width: 153px;
  height: 32px;

  margin-top: 10px;
  margin-left: 80px;
}
.add-question-div {
  width: 153px;
  height: 32px;

  margin-top: 10px;
  margin-left: 80px;
}
.more-about {
  width: 110px;
  height: 32px;
  font-weight: 600;
  font-size: 16px;
  font: Poppins;
  color: #6a50cc;
  display: flex;
  justify-content: left;
  align-items: center;
}
.arrow {
  width: 43px;
  height: 32px;

  margin-left: 110px;
  margin-top: -32px;
}
.arrow img {
  width: 25px;
  height: 25px;
  margin-top: 5px;
}
.home-navigation {
  width: 212px;
  height: 52px;
  background-color: #e7f8ff;
  border-radius: 12px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.test-center-navigation {
  width: 212px;
  height: 52px;

  margin-top: 10px;
  border-radius: 12px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.student-portal-navigation {
  width: 212px;
  height: 52px;

  margin-top: 10px;
  border-radius: 12px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.analysis-navigation {
  width: 212px;
  height: 52px;

  margin-top: 10px;
  border-radius: 12px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.admission-navigation {
  width: 212px;
  height: 52px;

  margin-top: 10px;
  border-radius: 12px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.settings-navigation {
  width: 212px;
  height: 52px;
  margin-top: 10px;
  border-radius: 12px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.navigation-font {
  width: 114px;
  height: 20px;
  margin-left: 25px;
  color: #c0c3cb;
  font: Poppins;
  font-weight: 400;
  font-size: 17px;
}
.navigations-div img {
  margin-left: 20px;
}
.navigation-home-font {
  color: #333333;
  font: Poppins;
  font-weight: 600;
  font-size: 18px;
  margin-left: 25px;
}
